$primary: var(--cms-color-primary);
$success: var(--cms-color-success);
$warning: var(--cms-color-warning);
$danger: var(--cms-color-danger);
$title: var(--cms-text-color-title);
$content: var(--cms-text-color-content);
$disabled: var(--cms-color-disabled);
$border: var(--cms-border-color);
$background: var(--cms-background-color);
$white: var(--cms-white);
$black: var(--cms-black);
